.header {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 48px;

    color: rgb(48,48,48);
}

.tagline {
    font-family: 'sofia-pro', sans-serif;
    font-style: italic;

    color: rgb(48,48,48);
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}

.shadow-animation {
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes shadow {
    0% { transform: scale(0.8) }
    50% { transform: scale(1.2) }
    100% { transform: scale(0.8) }
}